:host {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}

section {
  padding: 220px 0;
  margin-top: 130px;
  font-family: "Roboto", Segoe UI;
  background-color: var(--main-color);
  color: white;
  overflow: hidden;
}
.animate-top {
  animation: slideInTop 1s ease-out forwards;
}
.animate-left {
  animation: slideInLeft 1s ease-out forwards;
}
.animate-right {
  animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
h1 {
  font-weight: 700;
}

.star {
  margin: 20px 0;
  position: relative;
}

.star::after,
.star::before {
  content: "";
  background-color: white;
  width: 80px;
  height: 5px;
  position: absolute;
  top: 50%;
}

.star::after {
  left: 53%;
}

.star::before {
  right: 53%;
}

@media (max-width: 1200px) {
  section {
    padding: 80px 15px;
  }

  .star::after {
    left: 57%;
  }

  .star::before {
    right: 57%;
  }
  .row > div {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 10px;
  }

  .star::after,
  .star::before {
    width: 60px;
  }

  .row > div {
    margin-bottom: 20px;
  }
}
