<section>
  <div class="container">
    <div class="text-center">
      <h1 class="text-uppercase">about component</h1>
      <div class="star mb-3 mt-3"><i class="fa-solid fa-star"></i></div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
      </div>
    </div>
  </div>
</section>
